<div class="pt-5">
  <div class="background-white">
    <div class="p-5", style="height: 100%;, width: 100%;">
        <h1 class="mt-3 mb-4">Add New Event</h1>
        <%= render 'form' %>
    </div>
  </div>
</div>