<div class="pt-5">
  <div class="background-white">
    <div class="d-flex justify-content-between p-5">
        <div>
            <img src=<%= image_path('sample_bio.jpg') %> class="d-block", style="height: 550px;">
        </div>
        <div>
            <div class="right-side w-75", style="height: 550px;">
                <div id="box" style="height: 200px;">
                    <div id="box-text">
                        <div id="box-text1">Our Story</div>
                        <div id="box-text2">About Mitchang</div>
                    </div>
                </div>
                <div class="text-block">
                    <p id="about-text1">Dictum sit amet justo donec enim diam vulputate. Sociis natoque penatibus et magnis dis parturient.</p>
                    <p id="about-text2">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.</p>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>