<div class="pt-5 m-5">
  <div class="background-white">
  <div class="p-5", style="height: 100%;, width: 100%;">
    <div class="bg">
        <img src=<%= image_path('how_to_buy_bg.jpg') %> class="d-block buy_bg">
        <div class="description">
          <div id="htb-title">
            How to Buy our Products
          </div>
          <div id="htb-explanation">
            This is how to buy page. This is how to buy page. This is how to buy page. This is how to buy page. 
            This is how to buy page. This is how to buy page. This is how to buy page. This is how to buy page. 
            This is how to buy page. This is how to buy page. This is how to buy page. This is how to buy page. 
            This is how to buy page. This is how to buy page. This is how to buy page. 
            <br><br>
            This is how to buy page. This is how to buy page. This is how to buy page. This is how to buy page. 
            This is how to buy page. This is how to buy page. This is how to buy page. This is how to buy page. 
          </div>
        </div>
      </div>
    </div>
    <div class="p-5", style="height: 100%;, width: 100%;">
        <div class="bg">
            <img src=<%= image_path('how_to_buy_bg2.jpg') %> class="d-block buy_bg">
            <div class="description2">
              <div id="htb-title">
                Return & Refund Policy
              </div>
              <div id="htb-explanation">
                VALID reasons to return products: <br>
                ✔ Item is PROVEN FAKE (Proof MUST be provided. No proof will be considered NOT ELIGIBLE for returns/exchanges.) <br>
                ✔ Item received is a DIFFERENT item.<br>
                ✔ Item has MAJOR issues that wasn't exposed or disclosed in the description.<br><br>
                Request of RETURNS and EXCHANGES can ONLY be done within a week of arrival. Day after a week will be considered NOT ELIGIBLE. Requests and messages after the designated period will no longer be entertained.
                Returned items that is in different condition, altered in any way, modified, changed, recolored, redesigned is NOT ELIGIBLE for a refund.
                Attempt to return the item due to failure of resale will NOT BE ELIGIBLE for a refund.<br>
                For questions and concerns. Please do message us.
              </div>
            </div>
        </div>
    </div>
  </div>
</div>

<%= render 'mains/sidebar'%>