<div class="pt-5 m-5">
  <div class="background-white">
    <div class="p-5", style="height: 100%;, width: 100%;">
        <div class="bg">
            <img src=<%= image_path('contact_us_bg.jpg') %> class="d-block contact_bg">
            <div class="contact_description">
              <div id="contact-title">
                Our Contact Information
              </div>
              <div id="contact-explanation">
                Address: <br>
                Japan, Kanagawa Yokohama, <br>
                Nishi-Ward Miyazaki 48-7
                <br><br>
                Phone: +8180 4452 2874
                <br><br> 
                Email: mitchang@gmail.com
              </div>
            </div>
        </div>
    </div>
  </div>
</div>

<%= render 'mains/sidebar'%>