<div class="icon-bar">
    <a href=https://www.m.me/mitchang2022/ target="_blank" class="messenger"><i class="bi bi-messenger"></i></a> 
    <a href=https://www.facebook.com/mitchang2022/ target="_blank" class="facebook"><i class="bi bi-facebook"></i></a> 
    <a href=https://www.instagram.com/mitch_aban/ target="_blank" class="instagram"><i class="bi bi-instagram"></i></a> 
    <a href=https://mail.google.com/mail/?view=cm&source=mailto&to=mitchang@gmail.com target="_blank" class="email"><i class="bi bi-envelope-fill"></i></a> 
</div>