<div class="pt-5">
    <div class="background-white">
        <div class="d-flex justify-content-between p-3 pb-2">
            <div class="new_arrivals-square">
                <%= link_to(image_tag('sample_bag2.jpg', class: 'image-fluid p-2 item-pic'), items_path) %>
                <h6 class="product-title">Louis Vuitton Montaigne MM</h6>
                <h6 class="gold">$1700 (USD)</h6>
                <h6 class="price">Dustbag & Lock-Set included</h6>
            </div>
            <div class="new_arrivals-square">
                <%= link_to(image_tag('sample_bag2.jpg', class: 'image-fluid p-2 item-pic'), items_path) %>
                <h6 class="product-title">Louis Vuitton Montaigne MM</h6>
                <h6 class="gold">$1700 (USD)</h6>
                <h6 class="price">Dustbag & Lock-Set included</h6>
            </div>
            <div class="new_arrivals-square">
                <%= link_to(image_tag('sample_bag2.jpg', class: 'image-fluid p-2 item-pic'), items_path) %>
                <h6 class="product-title">Louis Vuitton Montaigne MM</h6>
                <h6 class="gold">$1700 (USD)</h6>
                <h6 class="price">Dustbag & Lock-Set included</h6>
            </div>
            <div class="new_arrivals-square">
                <%= link_to(image_tag('sample_bag2.jpg', class: 'image-fluid p-2 item-pic'), items_path) %>
                <h6 class="product-title">Louis Vuitton Montaigne MM</h6>
                <h6 class="gold">$1700 (USD)</h6>
                <h6 class="price">Dustbag & Lock-Set included</h6>
            </div>
        </div>
    </div>
</div>

<div class="p-3 d-flex justify-content-center pt-5">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#"><div class="gold">Previous</div></a></li>
            <li class="page-item"><a class="page-link" href="#"><div class="gold">1</div></a></li>
            <li class="page-item"><a class="page-link" href="#"><div class="gold">2</div></a></li>
            <li class="page-item"><a class="page-link" href="#"><div class="gold">3</div></a></li>
            <li class="page-item"><a class="page-link" href="#"><div class="gold">4</div></a></li>
            <li class="page-item"><a class="page-link" href="#"><div class="gold">5</div></a></li>
            <li class="page-item"><a class="page-link" href="#"><div class="gold">Next</div></a></li>
        </ul>
    </nav>
</div>  