.left-side {
    height: auto;
    width: 50%;
}

.bio-photo {
    width: 90%;
    height: auto;
}

.right-side {
    height: 90%;
    width: 50%;
    text-align: left;
}

#box {
    height: 200px;
    width: 95%;
    border: 15px solid #CFB53B;
    position: relative;
    border-radius: 10px;
}

#box-text {
  position: absolute;
  top: 20%;
  right: 10%;
  color: black;
  text-align: right;
  font-family: 'Big Caslon';
}

#box-text1 {
    font-size: xx-large;
}

#box-text2 {
    font-size: xxx-large;
    font-weight: bold;
}

.text-block {
    padding-top: 3%;
}

#about-text {
    height: 15%;
    width: 90%;
}

// .text-block {
//     position: absolute;
//     bottom: 20px;
//     right: 20px;
//     background-color: black;
//     color: white;
//     padding-left: 20px;
//     padding-right: 20px;
//   }

.text-link {
    color: #CFB53B;
}

