.event_bg {
    width: 100%;
    height: auto;
}

.event_description {
    width: 90%;
    height: 80%;
    position: absolute;
    top: 5%;
    left: 5%;
    color: whitesmoke;
    font-family: serif;
    text-align: left;
}

#event-title {
    font-size: xxx-large;
    padding-bottom: 20px;
}

#event-explanation {
    font-size: x-large;
}

.list-group-item {
    opacity: 0.7;
    margin-bottom: 2%;
}

.event-date {
    color: #CFB53B;;
}

.event-content {
    
}