<footer id="footer">
    <div class="footer-newsletter">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h4>Mitchang</h4>
                    <p>Second-Hand Luxury Bags, Wallets, Accesories, Jewelries and Watches</p>
                </div>
                <div class="col-lg-6">
                    <form action="" method="post"> <input type="email" name="email"><input type="submit" value="Search Items"> </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">How to Buy</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">About Us</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Events</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Our Items</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Bags</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Wallets</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Accesories</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Brand Jewelries</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">No Brand Jewelries</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Watches</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 footer-contact">
                    <h4>Contact Us</h4>
                    <p> Japan, Tokyo <br> Nerima Ward<br> Fujimachi 3-22-15 <br><br> <strong>Phone:</strong> +81 00 0000 0000<br> <strong>Email:</strong> info@example.com<br> </p>
                </div>
                <div class="col-lg-3 col-md-6 footer-info">
                    <h3>About Mitchang</h3>
                    <p>xxxx xxxxxxx xxxx xx xxxxxxx xxxx xxx xxxx xxxxxx. xxxxx xxxx xxxx xxxxxx xxxxx xxxxx xxxxxx xxxxxx xxxxx xxxxx xxxx xxxxxxxxx xxxxxx xx xxx xxxx xxxxxxxxx.</p>
                    <div class="social-links mt-3"> <a href="#" class="twitter"><i class="bi bi-messenger"></i></i></a> <a href="#" class="facebook"><i class="bi bi-facebook"></i></i></a> <a href="#" class="instagram"><i class="bi bi-instagram"></i></i></a> <a href="#" class="linkedin"><i class="bi bi-envelope-fill"></i></i></a> </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">Copyright ©<strong><span>2022 Mitchang</span></strong>. All Rights Reserved </div>
        <div class="credits"> Designed by <a href="#">Ron Jefferson</a> </div>
    </div>
</footer>